#container {
    background-image: url("../assets/images/background-menu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    width: 100%;
}

#logo {
    background-color: white;
    border-radius: 5px;
    color: brown;
    font-family: 'Rammetto One', cursive;
    margin-top: 15px;
    padding: 10px;
    text-align: center;

}

#titulo {
    color: white;
    text-align: center;
}

#pedido {
    background-color: white;
    height: 500px;
}

#background-titulo {
    background-color: rgb(151, 54, 67);
    border-radius: 5px;
    padding: 10px;
}

#total {
    background-color: white;
    padding: 10px;
}

.table-bordered {
    background-color: white !important;
}

.m-b-30 {
    margin-bottom: 30px;
}

.nav-item {
    margin: 8px;
}

.nav-pills .nav-link {
    font-size: 12px !important;
}